[Unit]
Description=USB Network (dhcp)
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-usb0.device
After=sys-subsystem-net-devices-usb0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/marc/bin/network usb_dhcp start
ExecStop=/home/marc/bin/network usb_dhcp stop

[Install]
WantedBy=multi-user.target
