[Unit]
Description=LAN Network (dhcp)
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/marc/bin/network lan_dhcp start
ExecStop=/home/marc/bin/network lan_dhcp stop

[Install]
WantedBy=multi-user.target
