! Xft -------------------------------------------------------------------------

Xft.dpi:       138
!Xft.dpi:       96
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

! URxvt -----------------------------------------------------------------------

URxvt.depth:                   32
URxvt.scrollBar:               true
URxvt.scrollBar_right:         true
URxvt.scrollstyle:             plain
URxvt.scrollTtyOutput:         false
URxvt.scrollWithBuffer:        true
URxvt.scrollTtyKeypress:       true
URxvt.saveLines:               2000
URxvt.termName:                rxvt-unicode-256color
URxvt.perl-ext-common:         default,tabbedex
URxvt.urlLauncher:             chromium
URxvt.cutchars:                "\\`\"\'&()*,;<=>?[]^{|}"
URxvt.colorIT:                 #99ad6a
URxvt.colorBD:                 #e8e8d3
URxvt.colorUL:                 #8197bf
URxvt.pointerColorBackground:  #586e75
URxvt.pointerColorForeground:  #93a1a1
URxvt.font:                    xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt.boldFont:                xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt.italicFont:              xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt.boldItalic:              xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt.letterSpace:             -1
URxvt.fading:                  3
URxvt.fadeColor:               orange
URxvt.tabbed.tabbar-fg:        11
URxvt.tabbed.tabbar-bg:        8
URxvt.tabbed.tab-fg:           13
URxvt.tabbed.tab-bg:           1
URxvt.tabbed.title:            false
URxvt.tabbed.title-fg:         11
URxvt.tabbed.title-bg:         8
URxvt.tabbed.no-tabbedex-keys: true
URxvt.pointerBlank:            true
URxvt.pointerBlankDelay:       2
URxvt.background:              [97]#121314
URxvt.keysym.4-s:              searchable-scrollback:start
URxvt.keysym.4-n:              perl:tabbedex:new_tab
URxvt.keysym.4-u:              perl:tabbedex:clone_tab
URxvt.keysym.4-h:              perl:tabbedex:prev_tab
URxvt.keysym.4-l:              perl:tabbedex:next_tab
URxvt.keysym.4-S-H:            perl:tabbedex:move_tab_left
URxvt.keysym.4-S-L:            perl:tabbedex:move_tab_right
URxvt.keysym.4-r:              perl:tabbedex:rename_tab
URxvt.keysym.C-Left:           \033[1;5D
URxvt.keysym.C-Right:          \033[1;5C
URxvt.iso14755:                false
URxvt.iso14755_52:             false

!TomorrowNight
#define t_background        #121314
#define t_current_line      #282a2e
#define t_selection         #373b41
#define t_foreground        #c5c8c6
#define t_comment           #969896
#define t_red               #cc6666
#define t_orange            #de935f
#define t_yellow            #f0c674
#define t_green             #b5bd68
#define t_aqua              #8abeb7
#define t_blue              #81a2be
#define t_purple            #b294bb

*.foreground:   t_comment
*.background:   t_background
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       t_current_line
*.color8:       t_selection

! Red / Bright Red
*.color1:       #A54242
*.color9:       t_red

! Green + Bright Green
*.color2:       #8C9440
*.color10:      t_green

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       #5F819D
*.color12:      t_blue

! Magenta (Purple) + Bright Magenta
*.color5:       #85678F
*.color13:      t_purple

! Cyan (Aqua) + Bright Cyan
*.color6:       #5E8D87
*.color14:      t_aqua

! Light Grey (Selection) + White (Current Line)
*.color7:       t_comment
*.color15:      t_foreground
