! URxvt -----------------------------------------------------------------------

URxvt.depth:      32
URxvt.background: [80]black
URxvt.foreground: [80]white
URxvt.scrollBar:  false
URxvt*termName:   screen-256color
